h3 {
    font-size: 3vh;
}

.container {
    margin: 2vh;
    max-width: 800px;
}

.flexColumn {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.flexColumn p {
    font-size: 3vh;
    border: 1px solid var(--shade4);
    border-radius: 5px;
    width: 60%;
    margin: 2.5%;
    padding: 2.5%;
    background: var(--shade2);
    color: var(--shade4);
}

.middle {
    align-self: center;
}

.right {
    align-self: flex-end;
}