.container {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

h2 {
    margin: 2% 0;
}

.sederCard {
    display: flex;
    border: 1px solid black;
    padding: 1%;
    justify-content: space-between;
    background: rgb(197, 196, 201);
}

.up {
    transform: rotate(270deg);
}

.sederCard label {
    color: black;
    font-size: 4vh;
    font-weight: 300;
}

.masechtaSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.masechtaCard {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-left: 5%;
    
}

.masechtaCard p {
    font-weight: 300;
}

.icon {
    font-size: 3.5vh;
    overflow-x: scroll;
}



