.banner {
    display: flex;
    border: 2px solid var(--shade4);
    width: 50%;
    justify-content: space-between;
    margin: 2vh;
    min-width: 340px;
}

h3 {
    margin: 1vh;
    vertical-align: middle;
    text-align: center;
}

.flexRow {
    display: flex;
    justify-content: space-around;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 94%;
    max-width: 700px;
}

.sederCard {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--shade1), var(--shade1), var(--shade2));
    border: 1px solid var(--shade4);
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    padding: .5vh 1vh;
    font-size: 3vh;
}

.sederName {
    display: flex;
    align-items: center;
}

.sederCard img {
    height: 50%;
    width: 10%;
    max-height: 35px;
    max-width: 35px;
}

.up {
    transform: rotate(270deg);
}

.masechtosColumn {
    width: 96%;
    height: 28.125vh;
    overflow-y: scroll;
}

.masechtaCard {
    display: flex;
    border: 1px solid var(--shade4);
    background: rgb(241, 241, 241);
    justify-content: space-between;
    font-size: 2.75vh;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    padding: .5vh 1vh;
}

.icon {
    height: 5vh;
    font-size: 2.75vh;
    width: 100%;
    cursor: pointer;
}


.icon:hover {
    color: var(--shade5);
}

.status {
    border: 1px solid black;
    font-size: 2.5vh;
    background: var(--shade1);
    width: 80%;
    height: 5vh;
    overflow-y: hidden;
    cursor: pointer;
    display: flex;
    align-content: center;
    padding: 2%;
    outline: none;
    scroll-margin-top: 3vh;
    scroll-padding: 2vh;
    scrollbar-width: 3vh;
}

.masechtaForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 40%;
}

.masechtaForm input {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 10vh;
    font-size: 3vh;
}

.masechtaForm input[type="text"] {
    margin-bottom: 2%;
}

.masechtaInfo {
    display: flex;
    justify-content: space-between;
    max-width: 55%;
    align-items: center;
}

.checkbox {
    height: 5.25vh;
    width: 5.25vh;
    margin-left: 1vh;
}

p {
    margin: 0;
}

h5 {
    border: 1px solid green;
    text-align: center;
    max-width: 70%;
    margin-left: 5%;
    border-radius: 5px;
}

.qrCol {
    align-self: center;
    font-size: 3.5vh;
    margin-bottom: 5%;
}

.bottom {
    margin-bottom: 0;
}

@media screen and (min-width: 760px) {
    .masechtaCard {
        font-size: 2.25vh;
    }

    .icon {
        font-size: 2.25vh;
        height: 4vh;
    }

    .masechtosColumn {
        height: 50vh;
    }

    .masechtaForm input {
        font-size: 2.25vh;
    }

    .status {
        width: 50vh;
        padding: 1%;
    }

    .status::-webkit-scrollbar {
        height: 3px;
    }

    .status::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.01);
    }
    .status::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: var(--shade4);
    }


    

}