.banner {
    border-bottom: 2px solid var(--shade4);
    border-top: 2px solid var(--shade4);
    margin-bottom: 5%;
}

h2 {
    margin: 2vh;
    vertical-align: middle;
}

.flexRow {
    display: flex;
    justify-content: space-around;
}

.flexColumn {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
}

.sederCard {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 3vh;
    border: 1px solid var(--shade4);
    background: linear-gradient(90deg, var(--shade1), var(--shade1), var(--shade2));
    /* box-shadow: -2.5px -2.5px 5px 1px var(--shade5); */
    padding: 1vh 2vh;
}

.sederName {
    display: flex;
    align-items: center;
}

.sederCard img {
    height: 50%;
    width: 10%;
    max-height: 35px;
    max-width: 35px;
}

.up {
    transform: rotate(270deg);
}

.masechtaCard {
    display: flex;
    padding: 1%;
    margin-left: 5%;
    border: 1px solid var(--shade4);
    /* box-shadow: -2.5px 0px 0 1px var(--shade4); */
    background: rgb(241, 241, 241);
    justify-content: space-between;
    font-size: 2.75vh;
    align-items: center;
    width: 92%;
}

.icon {
    height: 5vh;
    font-size: 2.75vh;
    width: 100%;
}

.status {
    border: 1px solid black;
    font-size: 2.5vh;
    background: var(--shade1);
    width: 80%;
    height: 5vh;
    overflow-y: hidden;
    cursor: pointer;
    display: flex;
    align-content: center;
    padding: 2%;
    outline: none;
}

.masechtaForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 40%;
}

.masechtaForm input {
    margin: 0;
    padding: none;
    width: 100%;
    max-height: 10vh;
    font-size: 3vh;
}

.masechtaForm input[type="text"] {
    margin-bottom: 2%;
}

.masechtaInfo {
    display: flex;
    justify-content: space-between;
    max-width: 45%;
    align-items: center;
}

p {
    margin: 0;
}

h5 {
    border: 1px solid green;
    text-align: center;
    max-width: 70%;
    margin-left: 5%;
    border-radius: 5px;
}

.qrCol {
    align-self: center;
    font-size: 3.5vh;
    margin-bottom: 5%;
}

/* .qrLabel {
    margin-bottom: 5%;
} */

.checkbox {
    height: 4.5vh;
    width: 5vh;
    font-size: 3vh;
    margin: 0;
    color: chartreuse;
}

.bottom {
    margin-bottom: 0;
}