@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Oswald:wght@200;300;400;500&display=swap');

body, html {
  --shade1: #e3dfff;
  --shade2: #d3c0cd;
  --shade3: #b19994;
  --shade4: #937666;
  --shade5: #3d3a4b;
}

body, html, #root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #3d3a4b;
  overflow-Y: hidden;
}
